h1{
    font-size: 30px;
    color : yellow !important;
    text-align: left;
}
a{
    text-decoration: none;
}

.saw{
    color: rgb(83, 250, 228);
}

h3{
    color: yellowgreen;
    text-align: right;
    
}

li{
    font-size: 10px;
    list-style: none;
    text-align: right;
    color: yellow;
}

body{
    background-color : rgb(34, 34, 34);   
}

